@import "tailwindcss";


.login-form {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  margin-top: 70px;
}

.login-form .card-body {
  padding: 30px 35px; /* Add vertical 30px and horizontal 20px padding */
}

.register-form {
  width: 450px;
  height: auto;
    margin: 0 auto;
  text-align: center;
}
.register-form .card-body {
  padding: 30px 50px; /* Adds space inside the form */
}


.forgot-form {
  width: 280px;
  height: 400px;
  margin: 0 auto;
margin-top: 10rem;
}

.reset-form {
  width: 280px;
  height: 400px;
  margin: 0 auto;
text-align: center;
}


.font-lobster {
  font-family: "Lobster", cursive;
}

